
body {
  font-family: Merriweather, serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans", sans-serif;
}


li:nth-child(2n+2) {
    border: 3px yellow solid;
}

button:active{
    background-color: green;
}

#permission:checked {
    box-shadow: 5px 5px 30px black;
}


input::placeholder{
    color: darkorange;
    font-size: 22px;
    border: 3px solid yellow;
}
p::selection{
    background-color: yellow;
    color: red;
}
