:root {
    --text-dark: #000;
    --text-light: #fff;
    --text-grey: #adbdcc;
    --purple-1: #6962f7;
    --purple-2: #7000ff;
    --blue-1: #00d4ff;
    --bg-white: #ffffff;
    --bg-light: #f2f9fc;
    --primary-accent:#0a2540;
    --primary-btn-hover: #6d7a88;
    --body-font:"Roboto", sans-serif;
    --heading-font: "Anek Telugu", sans-serif;
    --h1-size: 94px;
    --h2-size: 50px;
    --h3-size: 40px;
    --h4-size: 32px;
    --h5-size: 28px;
    --h6-size: 22px;
    --h1-line-height: 108px;
    --h2-line-height: 75px;
    --subtitle-size: 17px;
    --subtitle-height: 26px;
    --p-size: 18px;
    --p-height: 26px;
    --secondary-text-size: 14px;
    --secondary-text-height: 18px;
    --brn-size: 16px;
    --standard-width: 1144px;
    /* Spacing */
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;
    /* box shadow */
    --standard-box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
}

body {
    font-family: var(--body-font);
    color: var(--text-dark);
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
    padding: var(--spacing-sm) 0px 0px 0px;
    /* background-color: var(--text-grey); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1 {
    font-family: var(--heading-font);
    font-size: var(--h1-size);
    font-weight: 600;
    line-height: var(--h1-line-height);
    margin: 0px;
    width: 100%;
    letter-spacing: 0.25px;
}

h2 {
    font-family: var(--heading-font);
    font-size: var(--h3-size);
    font-weight: 600;
    margin: 0px;
    width: 100%;
}

h3 {
    font-family: var(--heading-font);
    font-size: var(--h3-size);
    font-weight: 500;
    margin: 0px;
    width: 100%;
}

h4{
    font-family: var(--heading-font);
    font-size: var(--h4-size);
    font-weight: 500;
    margin: 0px;
    width: 100%;
}

h5 {
    font-family: var(--heading-font);
    font-size: var(--h5-size);
    font-weight: 500;
    margin: 0px;
    width: 100%;
}

h6 {
    font-family: var(--heading-font);
    font-size: var(--h6-size);
    font-weight: 500;
    margin: 0px;
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--purple-1);
    font-weight: 500;
    transition: color 0.25s ease;
}

a:hover {
    color: var(--primary-accent);
}

p {
    font-size: var(--p-size);
    line-height: var(--p-height);
    margin: var(--spacing-md) 0px;
}

.subtitle {
    font-family: var(--heading-font);
    font-size: var(--subtitle-size);
    line-height: var(--subtitle-height);
    font-weight: 500;
    color: var(--purple-1);
}

.subtitle2 {
    font-family: var(--heading-font);
    font-size: var(--subtitle-size);
    line-height: var(--subtitle-height);
    font-weight: 500;
    color: var(--blue-1);
}

.secondary-text {
    font-size: var(--secondary-text-size);
    line-height: var(--secondary-text-height);
    color: var(--text-grey);
    letter-spacing: 0.25px;
}

.primary-btn {
    font-family: var(--body-font);
    font-size: var(--brn-size);
    letter-spacing: 1.25px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    background-color: var(--primary-accent);
    color: var(--text-light);
    padding: var(--spacing-sm) var(--spacing-md);
    transition: background-color 0.25s ease;
}

.primary-btn:hover {
    background-color: var(--primary-btn-hover);
    cursor: pointer;
}

.secondary-btn {
    font-family: var(--body-font);
    font-size: var(--brn-size);
    letter-spacing: 1.25px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    background-color: transparent;
    color: var(--primary-accent);
    transition: opacity 0.25s ease;
}

.secondary-btn:hover {
    cursor: pointer;
    opacity: 0.75;
}

.with-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
.with-icon img {
    transition: transform .25s ease;
}

.with-icon:hover img {
    transform: translateX(4px);
}

/* Two column layout class */

.section-container {
    width: 100%;
    max-width: var(--standard-width);
}

.two-columns {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.two-columns > .left-column {
    width: 50%;
    box-sizing: border-box;
    padding: 0 var(--spacing-md) 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.two-columns > .right-column {
    width: 50%;
    box-sizing: border-box;
    padding: 0 0 0 var(--spacing-md);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* card layout class */
.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: var(--spacing-sm) var(--spacing-md) var(--spacing-sm) 0px;
}

.card .icon {
    height: 50px;
}

.card h3{
    font-family: var(--heading-font);
    font-size: var(--h6-size);
    font-weight: 500;
    margin: 0px;
    width: 100%;
}


/* main content */

main {
    margin: var(--spacing-xl) 0 0 0;
}

/* Nav bar */

.top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--standard-width);
    padding: 0px var(--spacing-sm);
}

.links {
    list-style: none;
    padding: 0px;
}
.links li {
    padding: 0px var(--spacing-md);
    display: inline-block;
    margin: none;
}

.links li a {
    font-weight: bold;
    color: var(--text-light);

}
.links li a:hover {
    text-decoration: underline;
}

.navbar-btn {
    background-color: rgba(250, 250, 250, .25);
}

.navbar-btn:hover {
    background-color: rgba(250, 250, 250, .5);
}

/* Hero section */


.hero-section p {
    max-width: 480px;
}
.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: var(--spacing-md) 0 0 0;
}

.buttons-container :nth-child(2) button {
    margin: 0px 0px 0px var(--spacing-sm);
    color: var(--purple-2);
}

.hero-section .section-container .hero-phone-container {
    height: 560px;
    align-items: flex-end;
}

.hero-img {
    height: 628px;
    transform: translate(32px, -32px);
}

/* partner section */

.partner-section {
    width: 100%;
    height: 152px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--spacing-xl) 0px;
}

.grid-layout {
    display: grid;
    gap: var(--spacing-lg) var(--spacing-md);
    justify-items: center;
    grid-template-areas: 
    "a b c d"
    "q w e r";
}

#instacart {
    grid-area: a;
}

#salesforce {
    grid-area: b;
}

#amazon {
    grid-area: c;
}

#slack {
    grid-area: d;
}

#shopfity {
    grid-area: q;
}

#google {
    grid-area: w;
}

#lyft {
    grid-area: e;
}

#zoom {
    grid-area: r;
}

.partner-section img {
    height: 60px;
}


/* grey middle */

.grey-middle {
    padding: var(--spacing-xl) 0;
}

.grey-middle h2 {
    width: 50%;
    margin-bottom: var(--spacing-md);
}

.grey-middle button {
    background-color: var(--purple-1);
    margin: var(--spacing-md) 0px;
}

.grey-middle button:hover {
    background-color: var(--primary-accent);
}

/* graphics section */

.graphics-grid{
    display: grid;
    grid-template-areas: 
        "a b b"
        "d b b"
        "d f f";
    gap: var(--spacing-lg);
    padding: var(--spacing-xl) 0px;
}

.graphics-grid img {
    width: 100%;
    box-shadow: var(--standard-box-shadow);
}

#credit {
    grid-area: a;
}

#slack-invoice {
    grid-area: b;
}

#phone {
    grid-area: d;
}

#dash {
    grid-area: f;
}

/* integration section */

.integration-section {
    margin: var(--spacing-xl) 0 0 0;
    color: var(--text-light);
}

.code-snippet {
    width: 90%;
    border-radius: var(--spacing-md);
    padding: 0 0 var(--spacing-sm) 0;
}

.primary-btn.integration-btn {
    margin: var(--spacing-md) 0 0 0;
    color: var(--primary-accent);
    background-color: var(--blue-1);
}

.primary-btn.integration-btn:hover{
    background-color: var(--bg-white);
}

.secondary-btn.card-btn {
    color: var(--blue-1);
}
