body {
  font-family: "Cormorant", serif;
}

.header {
    margin: 32px;
}

h1 {
    display: inline-block;
    font-weight: 300;
    margin: 0px;
}

nav {
    display: inline-block;
    margin: 0px 32px;
}

ul {
    list-style-type: none;
    padding: 0px;
}

li {
    display: inline;
    margin: 0px 8px;
    font-size: 22px;
}


nav a {
    text-decoration: none;
    color:  black;
}

a.active {
    border-bottom: 1px black solid;
}





.side-div {
    width: auto;
    height: 800px;
    display: inline-block;
    margin: 40px 40px;
}
.main-div {
    width: auto;
}
img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: inline-block;
    padding: 30px;
}
label {
    display: block;
    display: inline-block;
    font-size: x-large;
}






#footer, #about {
    margin: 30px 150px;
    width: 400px;
    height: 400px;
    font-size: 25px;
}



#about-para {
    width: 95%;
}

