body {
    font-family: "Poppins", sans-serif;
    margin: 8px 100px;
}

img.mini-icon {
    width: 24px;
}

header {
    padding: 64px 0px;
    margin: 0px auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.main-heading {
    font-size: 2rem;
    font-weight: 700;
    margin: 0px;
}
.icons {
    display: flex;
    width: 25%;
    margin: 0px;
    justify-content: space-between;
    align-items: center;
}

.burger-button {
    width: 32px;
    height: 32px;
    display: none;
}

.first-line {
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 3px;
    margin: 0px;
}

.second-line {
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 3px;
    margin: 10px 0px;
}

.third-line {
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 3px;
    margin: 0px;
}

.links {
    font-size: 1rem;
    margin: 0px;
    text-transform: capitalize;
}

.container {
    display: grid;
    /* height: 8000px; */
    /* grid-template-columns: repeat(3, minmax(250px , 100%));
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr 1fr 1fr; */
    grid-template-areas: 
        "a a b"
        "a a c"
        "d g c"
        "f m m"
        "f m m"
        "e e j"
        "e e j";
    gap: 8px;
}

.image-content {
    position: relative;
    overflow: hidden;
}

.image-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    margin: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: .1rem;
    position: absolute;
    top: 0%;
    left: 0%;
    opacity: 0;
    background-color: rgba(255, 255, 255, .1);
    transition: opacity .3s ease-in-out;
}

.white {
    color: white;
}

.overlay:hover {
    opacity: 1;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px;
    font-size: 1rem;
}

.a {
    grid-area: a;
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}

.d {
    grid-area: d;
}

.g {
    grid-area: g;
}

.f {
    grid-area: f;
}

.m {
    grid-area: m;
}

.e {
    grid-area: e;
}

.j {
    grid-area: j;
}



@media only screen and (min-width: 1000px) and (max-width: 1250px)
{
    .icons {
        width: 35%
    }

    .overlay {
        font-size: 1.4rem;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1000px)
{
    .icons {
        width: 50%
    }

    .container {
        /* grid-template-columns: repeat(2, minmax(250px , 100%));
        grid-template-rows: 1fr 1fr 1fr 2fr 1fr 1fr 1fr 1fr 1fr; */
        grid-template-areas: 
            "a a"
            "a a"
            "b c"
            "d g"
            "m m"
            "m m"
            "f j"
            "e e"
            "e e"
            ;
        gap: 6px;
    }

    body {
        margin:8px 50px;
    }
}

@media only screen and (max-width: 600px) 
{
    .overlay {
        font-size: 1rem;
    }
    header {
        width: 100%;
        box-sizing: border-box;
        padding: 32px 20px;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 1;
        background-color: white;
        min-width: 320px;
    }

    .icons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 110px;
        background-color: white;
        height: 100vh;
        position: fixed;
        right: -25%;
        top: 0%;
        transition: right .3s ease-in-out;
    }

    .icons a, .icons .links{
        padding: 8px;
    }

    .show-icons{
        right: 0px;
        transition: right .3s ease-in-out;
    }

    
    .burger-button {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        flex-direction: row;
    }

    /* .burger-button:active  .icons{
        display: block;
        flex-direction: row;
        height: 100vh;
        align-content: space-around;
        position: absolute;
        right: 0px;
    } */

    .first-line-animate{
        transform: rotate(45deg) scaleX(1.3);
        transform-origin: top left;
        transition: transform .5s ease-in-out;
     }
     

    .second-line-animate{
        transform: scale(0);
        transition: transform .5s ease-in-out;
     }

    .third-line-animate{
        transform: rotate(-45deg) scaleX(1.3);
        transform-origin: bottom left;
        transition: transform .5s ease-in-out;
     }


    .container {
        /* grid-template-columns: repeat(1, minmax(250px , 100%));
        grid-template-rows: repeat(9,minmax(250px, 70vh)); */
        margin: 120px 0px auto;
        grid-template-areas: 
            "a"
            "b" 
            "c"
            "d"
            "g"
            "m"
            "f" 
            "j"
            "e"
            ;
    }
 body {
        margin:8px 20px;
        min-width: 300px;
    }
}
